
.headerUno{
    background-color: rgb(207, 4, 4);
    height: 2.5rem;
}
.tamañoTextoHeader{
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(252, 181, 181) !important;
}
.nav-link{
    border-left: solid 1px red;
}
.nav-link:hover{
    color: rgb(255, 255, 255) !important;
}